# =====================
# Python cache / build
# =====================
__pycache__/
*.py[cod]

# =====================
# Virtual environments
# =====================
frontend/.venv/
venv/
.env_venv/

# =====================
# Streamlit
# =====================
.streamlit/

# =====================
# OS / system files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE / editor files
# =====================
.idea/
.vscode/

# =====================
# Temp / backup files
# =====================
*.save
gitignore.save

# =====================
# Secrets / environment
# =====================
.env
.env.*

# local caches
backend/.cache.sqlite
*.sqlite
