# --- Web Framework & UI ---
flask
streamlit
streamlit-autorefresh
matplotlib

#----- backend
requests
python-dotenv
flask
streamlit
pymongo
pytest
schedule

# --- Database & Security ---
pymongo
dnspython
certifi
pymongo[srv]

# --- Data Engineering & Visualization ---
pandas
numpy
plotly

# --- Networking & API ---
requests
requests-cache
retry-requests
openmeteo-requests
tenacity

# --- Environment Management ---
python-dotenv